.container-body{
    display: flex;
    flex: 1;
    height: 1190px;
    margin-top: 20px;
}

.bodywrapper1{
    flex: 1;
    /* border: 1px solid red; */
}

.bodywrapper2{
    flex: 2.5;
    margin-left: 30px;
    /* border: 1px solid blue; */
}

.bodywrapper2 > .mininavbar{
    display: flex;
    /* border: 1px solid yellow; */
    height: 24px;
    margin-bottom: 23px;
} 

.mininavbar > .mininavbar_1{
    display: flex;

}

.mininavbar_1 > p{
    margin: 0;
    padding: 0;
    margin: 0 30px 0 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}

.mininavbar_1 > p:hover{
    color: #46A358;
    cursor: pointer;
}

.mininavbar > .mininavbar_2{
    display: flex;
    margin-left: auto;

}

.mininavbar_2 > p{
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}

.mininavbar_2 > p:hover{
    cursor: pointer;
}



.bodywrapper1 > .categories{
    background-color: rgb(253, 249, 249);
    margin: 0 30px;
    /* border: 1px solid blueviolet; */
    height: 714px;
}
.categories > h4 {
    margin: 8px 0 0 14px;
    padding: 0;
}
.categories_body {
    display: flex;
}
.categories_body >.categories_body2{
    margin-left: auto;
}

.categories_body1 > p {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-size: 14px;
    line-height: 40px;
    margin-left: 54px;
}
.categories_body1 > p:hover {
    color: #46A358;
    cursor: pointer;
}

.categories_body2 > p {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-size: 14px;
    line-height: 40px;
    margin-right: 54px;
}
.categories_body2 > p:hover {
    color: #46A358;
    cursor: pointer;
}

.categories_body_prise{
    margin-left: 54px;
}

.categories_body_prise> input{
    margin: 5px 0 5px 0;
}

.categories_body_prise >p{
    margin: 0;
    padding: 0;
    color: #46A358;
    margin: 5px 0 5px 0;
}

.categories_body_prise >button{
    width: 90px;
    height: 35px;
    color: white;
    font-weight: 600;
    background: #46A358;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin: 5px 0 5px 0;
} 

.categories_body_prise >button:active{
    transform: scale(.98);
}

.categories_body_size{
    display: flex;
}
.categories_body_size >.categories_body_size1{
    margin: 0;
    padding: 0;
    font-style: normal;
    font-size: 14px;
    line-height: 40px;
    margin-left: 54px;
}

.categories_body_size1 > p:hover{
    cursor: pointer;
    color: #46A358;
}

.categories_body_size >.categories_body_size2{
    margin-left: auto;
    padding: 0;
    font-style: normal;
    font-size: 14px;
    line-height: 40px;
    margin-right: 54px;
}

.salephoto{
    display: flex;
    width: 524px;
    height: 470px;
    justify-content: center;
    
}
.salephotobackgraund{
    display: flex;
    width: 466px;
    height: 470px;
    background: linear-gradient(180deg, rgba(70, 163, 88, 0.1) 0%, rgba(70, 163, 88, 0.03) 100%);
}
.salephoto1{
    display: flex;
    position: absolute;
    margin-top: 99px;
}
.salephoto2{
    position: absolute;
    width: 316px;
}
.bodyfoto{
     height: 1140px;
} 
.body__{
    display: flex;
}
.bodyfoto1{
    flex: 1;
    margin-bottom: 40px;
}

.bodyfoto1 > img {
    width: 250px;
    height: 250px;
    margin: 31px 0 31px 0;
}

.bodyfoto1_{
    display: flex;
}
.bodyfoto1_right > h5{
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #3D3D3D;
}
.bodyfoto1_right > p{
    margin: 0;
    padding: 0;
    margin-top: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    color: #46A358;
}

.bodyfoto1_left{
    display: flex;
    margin-left: 65px;
}
.bodyfoto1_left >h1{
    margin: 0;
    /* padding: 0; */
}
.decriment{
    padding: 0px 10px 0px 25px;
    border-bottom-left-radius: 14px;
    border-top-left-radius: 14px;
    background-color: #46A358;
    color: white;
    cursor: pointer;
}

.count {
    padding: 5px 15px;
    font-size: 24px;
    font-weight: 400;
}

.incriment{
    padding: 0px 20px 0px 10px;
    border-bottom-right-radius: 14px;
    border-top-right-radius: 14px;
    background-color: #46A358;
    color: white;
    cursor: pointer;
}

.bodyend {
    display: flex;
    margin-top: 55px;
    margin-bottom: 55px;
}

.bodyend1 {
    display: flex;
    margin-left: auto;
    margin-right: 15px;
    cursor: pointer;
}

.bodyend1> h2 {
    padding: 5px 15px;
    margin-right: 10px;
    font-weight: 350;
    font-size: 22px;
    border-radius: 8px;
    border: 0.2px solid #bbb8b8;
}
.bodyend1> h2:hover{
    background-color: #46A358;
    color: #fff;
} 
.bodyend1> h2:active {
    transform: scale(.97);
}